.entry {
  &__title {
    margin: 0 0 $spacing-l;
  }

  &--horizontal {
    max-width: 100%;

    .entry__text:first-of-type {
      margin-top: 0;
    }

    .entry__title {
      padding: 0 $spacing-l 0 0;
    }
    .entry__text-wrapper {
      width: 100%;

      column-gap: $spacing-l;
      column-width: 24rem;
    }
  }
}
