{% extends '../layout/default.njk' %}

{% block body %}
  {%- component 'header', header -%}

  <main>
    <div class="constrain-max">
      <div id="het-koor">
        <img src="/static/img/koor.jpg" alt="">
      </div>

      <div class="constrain-max">
        <div class="section-item">
          {%- component 'entry', entryText -%}
        </div>
      </div>

      <div id="optredens" class="page-item">
        <h2>Optredens</h2>
        {%- component 'gigs' -%}
      </div>

      <div class="two-one page-item" id="dirigent">
        <div class="two-one__left">
          {%- component 'entry', dirigentText -%}
        </div>
      </div>
    </div>

    <div class="colored-square">
      <div class="page-item constrain-max">
        {%- component 'contact' -%}
      </div>
    </div>
  </main>
{% endblock %}
