{% extends '../layout/default.njk' %}

{% block body %}
  {%- component 'header', header -%}

  <main>
    <div class="constrain-max">
      <div id="het-koor">
        <img src="/static/img/koor.jpg" alt="">
      </div>

      <div class="section-item">
        {%- component 'entry', entryText -%}
      </div>

      <div id="optredens" class="page-item">
        <h2>Optredens</h2>
        {%- component 'gigs' -%}
      </div>
    </div>

    <div class="page-item">
      <div class="constrain-max">
        {%- component 'entry', concertText -%}
        <img src="/static/img/poster-voorjaarsconcert.jpg" alt="">
      </div>
    </div>

    <div class="colored-square">
      <div class="page-item constrain-max">
        {%- component 'contact' -%}
      </div>
    </div>
  </main>
{% endblock %}
