<nav class="nav">
  <ol class="nav__list">
    {% for navItem in navItems %}
      <li class="nav__item">
        <a href="{{ navItem.href }}" class="nav__link" data-active="{{ navItem.active }}">{{ navItem.label }}</a>
      </li>
    {% endfor %}
  </ol>
</nav>
